spring:
  application:
    name: user-service
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://192.168.1.60:3306/user
    username: user
    password: password
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update

eureka:
  client:
    register-with-eureka: true
    service-url:
      defaultZone: ${EUREKA_URI}
  instance:
    instance-id: ${spring.application.name}:${random.value}
    prefer-ip-address: true